@import "@fontsource/press-start-2p";

body {
    margin: 0;
    background-color: #121221;
    overflow-x: hidden;
}

.homepage {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}